.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem;
    /* smooths btn "press" */
    transition: all .2s
  }

  &:hover {
    /* raises btn on hover */
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      /* "blows up" btn */
      transform: scaleX(1.4) scaleY(1.6);
      /* visibility */
      opacity: 0;
    }
  }

  &:active {
    /* gives btn clicked look when clicked */
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2); 
  }

  /* expand and shrink btn ani */
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
}

/* "discover our tours" header btn */
.btn--white {
  background-color: $color-white;
  color: $color-gray-dark;

  /* expand and shrink btn ani */
  &::after {
    background-color: $color-white;
  }
}

/* btn animation */
.btn--animated {
  animation: moveInBottom 1s ease-out 1s backwards;
}
