// holds images in about section
.composition {
  position: relative;

  // umbrella image class
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 0;
    transition: all .2s;
    // space between outline
    outline-offset: 2rem;

    // individual images
    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 1;
    }
  }

  // selects non hovered images in the image composition
  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
}